profiles {
    local {
        process.executor = 'local'
    }
}

process {
    cpus   = 2
    memory = '2 GB'
    time   = '5 min'

    withName: TRIM      { cpus = 1 }
    withName: ASSEMBLE  { cpus = 2; memory = '4 GB' }
    withName: EVALUATE  { cpus = 2 }
}

dag {
    enabled = true
    file    = "${params.outdir}/dag.svg"
}

timeline {
    enabled = true
    file    = "${params.outdir}/timeline.html"
}

report {
    enabled = true
    file    = "${params.outdir}/report.html"
}
