profiles {
    local {
        process.executor = 'local'
    }
}

process {
    cpus   = 1
    memory = '2 GB'
    time   = '5 min'

    withName: TRIM      { cpus = 1 }
    withName: ASSEMBLE  { cpus = 1; memory = '2 GB'; maxForks = 2 }
    withName: EVALUATE  { cpus = 1; maxForks = 2 }
}

env {
    PATH = "${PWD}/.pixi/envs/default/bin:${PATH}"
}

dag {
    enabled = true
    file    = "results/nextflow/dag.svg"
}

timeline {
    enabled = true
    file    = "results/nextflow/timeline.html"
}

report {
    enabled = true
    file    = "results/nextflow/report.html"
}
